<div class='comment'>
  <div class='body'><%= comment.body %></div>
  <span class='author'>
    by <a href='mailto:pinowsky@gmail.com'>Diego Pino</a>
    <span class='time'> 1 month ago</span>
  </span>
</div>
