<%
  today = Time.now
  day = DateTime.parse(comment.updated_at.to_s)
  time_distance = distance_of_time_in_words(day, today)
%>
<div class='comment'>
  <div class='body'><%= comment.body %></div>
  <span class='author'>
    by <a href='mailto:pinowsky@gmail.com'>Diego Pino</a>
    <span class='time'><%= time_distance %> ago</span>
  </span>
</div>
