<p>All comments (1180)<p>


<!-- Show all comments -->

<form>
  <div class="comment-to-add">
    <textarea id="comment-to-add" class="comment"></textarea>
    <div class="control-buttons">
      <a href="javascript:cancelComment()">Cancel</a><span> or </span>
      <input type="button" value="Accept" onClick="javascript:addComment()" />
    </div>
  </div>
</form>

<div id="new-comments">
</div>

<div id="saved-comments">
</div>

<script>

function cancelComment() {
  $('#comment-to-add').val('');
}

function addComment() {
  var body = $('#comment-to-add').val();
  var radio_id = $('#radio-station-data-edit').attr('name');
  var comment = {'body': body};

  $('#comment-to-add').val('');

  $.ajax({
      type: "POST",
      url: '/radios/###radio_id###/comments/'.replace('###radio_id###', radio_id),
      data: {comment: comment},
      dataType: 'json',
      success: function(msg) {
        var new_comment = $(htmlForComment(comment));

        $('#new-comments').prepend(new_comment);
        $(new_comment).animate({backgroundColor:"yellow"},  100);
        $(new_comment).animate({backgroundColor:"white"},  1000);
      }
    });
}

var COMMENT_HTML = "<div class='comment'> \
	<div class='body'>###BODY###</div> \
	<span class='author'>by <a href='###AUTHOR_LINK###'>###AUTHOR###</a></span> \
</div>";

function htmlForComment(comment) {
  var body = htmlEncode(comment.body);
  var body = body.replace(/\n\r?/g, '<br/>');
  var author = "Diego Pino";
  var author_link = "pinowsky@gmail.com";

  var result = COMMENT_HTML;
  result = result.replace("###BODY###", body);
  result = result.replace("###AUTHOR###", author);
  result = result.replace("###AUTHOR_LINK###", author_link);
  return result;
}

</script>
