<p>All comments (<span id="all-comments-counter"><%= @radio.comments.length %></span>)<p>

<% if user_signed_in? %>
  <form>
    <div class="comment-to-add">
      <textarea id="comment-to-add" class="comment"></textarea>
      <div class="control-buttons">
        <a href="javascript:cancelComment()">Cancel</a><span> or </span>
        <input type="button" value="Accept" onClick="javascript:addComment()" />
      </div>
    </div>
  </form>
<% else %>
  <p>Not logged in? <%= link_to 'Log in', new_user_session_path %> or <%= link_to 'Sign up', new_user_registration_path %> to post comments.</p>
<% end %>

<!-- Show all comments -->
<div id="new-comments">
</div>

<!--
<div id="saved-comments">
</div>
-->
<!-- Saved comments -->
<%= render :partial => @radio.comments %>

<script>

function cancelComment() {
  $('#comment-to-add').val('');
}

function addComment() {
  var comment = $('#comment-to-add').val();
  var radio_id = $('#radio-station-data-edit').attr('name');

  $('#comment-to-add').val('');

  $.ajax({
      type: "POST",
      url: '/radios/###radio_id###/comments/'.replace('###radio_id###', radio_id),
      data: {comment: comment},
      dataType: 'json',
      success: function(commentObj) {
        var new_comment = $(htmlForComment(commentObj));

        // Update comment
        $('#new-comments').prepend(new_comment);
        $(new_comment).animate({backgroundColor:"yellow"},  100);
        $(new_comment).animate({backgroundColor:"white"},  1000);

        // Update total number of comments
        var all_comments_counter = $('#all-comments-counter').text();
        all_comments_counter = parseInt(all_comments_counter, 10) + 1;
        $('#all-comments-counter').text(all_comments_counter);
      }
    });
}

var COMMENT_HTML =
  "<div class='comment'> \
    <div class='body'>###BODY###</div> \
    <span class='author'>by <a href='mailto:###AUTHOR_EMAIL###'>###AUTHOR###</a> \
      <span class='time'>###TIME_DISTANCE###</span> \
    </span> \
  </div>";

function htmlForComment(commentObj) {
  var body = htmlEncode(commentObj.body);
  var body = body.replace(/\n\r?/g, '<br/>');

  var result = COMMENT_HTML;
  result = result.replace("###BODY###", body);
  result = result.replace("###AUTHOR###", commentObj.username);
  result = result.replace("###AUTHOR_EMAIL###", commentObj.useremail);
  result = result.replace("###TIME_DISTANCE###", commentObj.time_distance);
  return result;
}

</script>
