ul.stations-list {
  list-style-position: inside;
  padding: 0 0 5px 0;
}

ul.stations-list > li {
  list-style-image: url("img/arrow.png");
}

div.stations-nav-menu {
  margin-top: 12px;
  padding: 2px 2px;
  // background: lightgray;
}

div.stations-nav-menu a {
  text-decoration: none;
  color: #53a3f6;
  // color: blue;
}
