// Radio stations
ul.stations-list {
  list-style-position: inside;
  padding: 0 0 5px 0;
}

ul.stations-list > li {
  list-style-image: url("img/arrow.png");
}

div.stations-nav-menu {
  margin-top: 12px;
  padding: 2px 2px;
}

div.stations-nav-menu a {
  text-decoration: none;
  color: #53a3f6;
}

div.ad-panel {
  border-left: 1px solid black;
  padding-left: 5px;
  margin-top: -280px;
  margin-right: 400px;
  margin-bottom: 5px;
  float: right;
}

div.ad {
  font-size: 10px;
}

div.ad span {
  display: block;
}

div.ad a.title {
  text-decoration: none;
}

div.ad span.link {
  color: green;
}

#radio-station-data {
  background: lightgray;
  border: 1px dotted black;
  width: 600px;
}

#radio-station-data table {
  border: 0px solid black;
  width: 100%
}

#radio-station-data table input[type="text"] {
  border: 1px solid black;
  width: 400px;
}

#radio-station-data-edit {
  float: right;
  font-size: 10px;
  margin-top: -15px;
  margin-right: -4px
}

div.comment {
  width: 480px;
  padding: 5px;
  border: 0px solid black;
}

div.comment textarea {
  width: 100%;
  height: 120px;
  font-family: "Tahoma", "sans-serif";
  border: 1px solid black;
}

div.comment div {
  margin-top: 5px;
  text-align: right;
}
