<h2>Most popular this week</p>
  <ul>
  <% @popular_stations.each do |station| %>
    <li><%= station.name %></li>
  <% end %>
</ul>

<h2>Most popular country</p>
  <ul>
  <% @popular_countries.each do |country| %>
    <li><%= country %></li>
  <% end %>
</ul>

<%= render('ad_panel') %>
