<% if (current_user != nil) %>
<h2>Your favorites</h2>
<ul>
  <% @favorites = Favorite.where("user_id = #{current_user.id}") %>
  <% @favorites.each do |favorite| %>
    <li>
    <%=
      radio = favorite.radio
      link_to radio.name, url_for(:controller => 'radios', :action => 'show', :id => radio.id)
    %>
    </li>
  <% end %>
</ul>
<% end %>

<h2>Most popular this week</p>
  <ul>
  <% @popular_stations.each do |station| %>
    <li><%= station.name %></li>
  <% end %>
</ul>

<h2>Most popular country</p>
  <ul>
  <% @popular_countries.each do |country| %>
    <li><%= country %></li>
  <% end %>
</ul>

<%= render('ad_panel') %>
