<%

if @country != nil
  option1 = link_to "Alphabetic", url_for(:controller => 'countries', :id => @country, :order => "alphabetic")
  option2 = link_to "By location", url_for(:controller => 'countries', :id => @country, :order => "location")
else
  option1 = link_to "Alphabetic", countries_path(@country, :order => "alphabetic")
  option2 = link_to "By continent", countries_path(@country, :order => "continent")
end

if (@sort_order == :alphabetic)
  option1 = raw("<b>Alphabetic</b>")
end

if (@sort_order == :continent)
  option2 = raw("<b>By continent</b>")
end

if (@sort_order == :location)
  option2 = raw("<b>By location</b>")
end

%>

<hr style="color: #fee"/>
<div id="search_options">
  <span style="display: block">Sort by:</span>
  <span style="display: block"><%= option1 %></span>
  <span style="display: block"><%= option2 %></span>
</div>
<hr style="color: #fee"/>
