<% @radios_by_location.map do |city, radios| %>
    <h3><%= city %></h3>
        <ul>
    <%
      radios.sort! { |a,b| a.name.downcase <=> b.name.downcase }
      radios.each do |radio| %>
            <li><%= link_to radio.name, radio %></li>
        <% end %>
        </ul>
<% end %>
